#page_produtos {
    width: 100%;
    display: flex;   
}

#page_produtos > section:nth-child(1) {
    flex: 1 200px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #F7FFEC;
}

#page_produtos > section:nth-child(2) {
    flex: 1 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;    
}
.items{
    display: flex;
    align-items: flex-start;
}
