.imagem{
    background-color: #f7ffec
    ;
    background-repeat: no-repeat; 
    width: 100%; 
    min-height: 100vh; 
    background-size: cover; 
    background-position: center;

}

.texto1{
    display: block !important;
    text-align: center !important;
    width: 400px !important;
}