.slider{
    overflow: hidden;
    margin: 0px;
    display: flex;
    flex-direction: column-reverse;
    position: relative;
    height: 400px;
}

.slider > .slider-content{
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    transition: all 800ms;
    animation: carousel infinite 10s;
}

.slider > .slider-content > .slider-item{
    flex: 0 0 auto;
    width: 100%;
}

.slider > input:nth-child(1):checked ~ .slider-content{
    transform: translateX(0%);
}

.slider > input:nth-child(2):checked ~ .slider-content{
    transform: translateX(-100%);
}

.slider > input:nth-child(3):checked ~ .slider-content{
    transform: translateX(-200%);
}

.slider > input:nth-child(4):checked ~ .slider-content{
    transform: translateX(-300%);
}

.slider > input:nth-child(1){
    position: absolute;
    left: 30px;
    bottom: 30px;
    z-index: 1;
}

.slider > input:nth-child(2){
    position: absolute;
    left: 50px;
    bottom: 30px;
    z-index: 1;
}

.slider > input:nth-child(3){
    position: absolute;
    left: 70px;
    bottom: 30px;
    z-index: 1;
}

.slider > input:nth-child(4){
    position: absolute;
    left: 90px;
    bottom: 30px;
    z-index: 1;
}

.slider-item{
    max-height: 400px;
    width: fit-content;
    object-fit: cover;
    width: 100%;
}

@keyframes carousel {
    0%{transform: translateX(0%);}
    25%{transform: translateX(-100%);}
    75%{transform: translateX(-200%);}
    100%{transform: translateX(-300%);}
}

.title h2{
    padding: 100px 60px 60px;
    font-family: 'Open Sans';
    font-size: 20px;
    color: #32502e;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gridContainer1 {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center !important;

}

.gridContainer2 {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center !important;
}

.gridImage {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.image {
    position: relative;
    width: 200px;
    margin: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image a {
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image__img {

    width: 160px;
    height: 160px;
    border-radius: 50%;
    border: #32502E double;
}

.image__overlay {
    position: absolute;
    width: 160px;
    height: 160px;
    background: rgba(185, 244, 149, 0.6);
    color: #ffffff;
    font-family: 'Raleway';
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.25s;
    cursor: pointer;
}

.image__overlay--blur {
    backdrop-filter: blur(5px);
    border-radius: 50%;
}

.image__overlay>* {
    transform: translateY(20px);
    transition: transform 0.25s;
}

.image__overlay:hover {
    opacity: 1;
}

.image__overlay:hover>* {
    transform: translateY(0);
}

.image p {
    color: #32502E;
    font-weight: bold;
    font-family: sans-serif;
    text-transform: uppercase;
}
