.img{
    background-image: url('../../assets/img/EcoFarm\ \(2\).png');
    background-repeat: no-repeat;
    width: 100vh;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
}

.btnCancelar{
    margin-right: 20px !important;
}

.fundo{
    background-color: #F7FFEC;
}