#bg-app{
  background-image: url('https://i.imgur.com/RIPmoFW.png');
  background-repeat: no-repeat;
  background-size: cover;
}

#bg-app{
  background-image: url('https://i.imgur.com/RIPmoFW.png');
  background-repeat: no-repeat;
  background-size: cover;
}
