
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


#sobre {
    display:flex;
    flex-direction: column;
 
   
   

    justify-content: center;
    align-items: center;

    width: 98%;
    padding: 90px 10px;
}


#sobre section {
    display: flex;
    flex-direction: row;


}

/* img */
#sobre section img {
    width: 300px;
    height: auto;
    margin: 0px 5px ;
    border-radius: 5px;
}


/* Texto */
#sobre section div {
    margin: 0px 5px ;
    font-family:'Open Sans', sans-serif;
}

#sobre section div h2 {
    color: #1E8449
}

.tsx1,
.tsx2, 
.tsx3{
    height: 215px;
    margin: 40px 20px 0px 20px;
}

.text-right, .text-left{
    text-align: justify; 
}

.tsx1 p{
margin: 5px;
}

.tsx1 h2{
    margin-left: 30px;
}

.tsx2 p{
margin: 5px;
padding-right: 300px;
}
    
.tsx2 h2{
    margin: 30px;
}

.tsx3 p{
    margin: 5px;
}
        
.tsx3 h2{
    margin-left: 30px;
}

